<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Pacifico&family=Roboto&display=swap"
        rel="stylesheet">
    <title> Weather APP | Flask Project </title>
</head>

<body>
    <div class="container">
        <form action="/" method="post">
            <input type="text" class="city-search" , placeholder="Type a city name..." , name="city">
            <button type="submit" class="search-button">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
            </button>
        </form>

    </div>

    <script src="https://kit.fontawesome.com/8da1952d27.js" crossorigin="anonymous"></script>
</body>

</html>